@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;1,300&family=Source+Sans+Pro:wght@200&family=Ubuntu&display=swap');
@import url('http://fonts.cdnfonts.com/css/games?styles=17672');

* {
  box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

/* variáveis globais */

:root {
  --main-color: #fa5353;
  --second-color: #5f3dad;
  --dark-color: #181b2b;
  --light-color: #322f40;
  --text-color: hsl(0, 0%, 91%);
}

img {
  width: 100%;
}


body {
  color: var(--text-color);
  background-color: var(--dark-color);
  overflow-x: hidden;
}

::selection {
  color: var(--text-color);
  background-color: var(--main-color);
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

header {
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  background-color: var(--dark-color);
  z-index: 100;
  user-select: none;
  margin-top: 10px;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 auto 0 0;
  font-style: smooth;
  font-kerning: 1rem;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  font-family: 'Games', sans-serif;
}

.logo span {
  color: var(--main-color);
  font-family: 'Games', sans-serif;
}

.nav-icones {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.nav-icones .borda {
  font-size: 20px;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  color: var(--text-color);
  background-color: var(--light-color);
  border-radius: 50%;
  cursor: pointer;
}


.menu-icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--light-color);
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}

.menu-icones div {
  display: block;
  background-color: var(--text-color);
  height: 2px;
  width: 25px;
  transition: 0.3s;
}


.move .linha1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.move .linha2 {
  opacity: 0;
}

.move .linha3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 14, 0.9);
  z-index: 106;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  clip-path: circle(0% at 100% 0%);
}

.menu.active {
  clip-path: circle(144% at 100% 0%);
}

.menu img {
  width: 800px;
}

.navbar {
  display: grid;
  row-gap: 1rem;
  text-align: right;
  padding: 2rem;
}

.navbar a {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.2s;
}

.navbar a:hover {
  border-bottom: 4px solid var(--main-color);
  font-size: 1.8rem;
}


/* //////////////////// IMAGEM DE ABERTURA ABAIXO DO CABEÇALHO ///// */
.inicio {
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 9rem;
  }
  
  .inicio video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  
  .inicio-texto {
    padding-right: 3rem;
    text-align: right;
  }
  
  .inicio-texto h1 {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color: var(--dark-color);
    margin-bottom: 2rem;
    font-family: 'Games', sans-serif;
  }
  
  .btn {
    background-color: #0041c24c; 
    padding: 15px 20px;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 68%);
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 340px; /* Ajuste conforme necessário */
  }
  
  .btn:hover {
    background-color: #0098ff;
  }

  .inicio-texto .btn {
    transition: opacity 0.5s ease-in-out; 
    opacity: 1; 
}

.inicio-texto .btn.hidden {
    opacity: 0; 
}

  /* configuração do video */
  .mute-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
}

.mute-button:focus {
    outline: none;
}

.controls-container {
  display: flex;
  justify-content: flex-start; /* Ajustado para alinhar os ícones à esquerda */
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 10px; /* Reduzido o espaçamento interno */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.controls-container button,
.controls-container i {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 24px;
}

.controls-container button:focus,
.controls-container i:focus {
  outline: none;
}

.play-pause-icons {
  display: flex;
  align-items: center;
}

#video::-webkit-media-controls-timeline {
    height: 0px; /* Altura da barra de progresso */
    width: 100%; /* Largura da barra de progresso */
    background-color: rgba(0, 0, 255, 0.5); /* Cor de fundo da barra de progresso azul */
    border-radius: 40px; /* Borda arredondada */
    overflow: hidden; /* Esconder o conteúdo que transborda */
    color: rgb(255, 255, 255);
}

#speedMessage {
  position: absolute;
  top: -30px;
  right: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  transition: opacity 0.3s ease;
}

.video-controls {
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
  margin-top: -130px;
}



  /* cor azul para o ícone da Playstation */
  .fa-brands.fa-playstation {
    transition: color 0.7s ease;
  }
  
  .fa-brands.fa-playstation:hover {
    color: blue;
  
  }
  
  
  /* cor verde para o ícone do xbox */
  .fa-brands.fa-xbox {
    transition: color 0.7s ease;
  }
  
  .fa-brands.fa-xbox:hover {
    color: rgb(0, 171, 82);
    
  
  }
  
  
  /*cor cinza escuro para o ícone do notebook */
  .fa-solid.fa-desktop {
    transition: color 0.7s ease;
  }
  
  .fa-solid.fa-desktop:hover {
    color: rgb(192, 192, 192);
  
  }
  
  
  /* azul mais claro para o ícone do usuário */
  .fa-regular.fa-user {
    transition: color 0.7s ease;
  }
  
  .fa-regular.fa-user:hover {
    color: rgba(0, 255, 238, 0.878);
  
  }
  
  /* cor vermelha para o ícone do coração */
  



  
  /* jogos playstation */
  .jogos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 220px;
    margin-top: -80px;
    overflow-x: auto;
  }
  
  .jogo-item {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    background-color: #1e1e1e; /* Fundo escuro para contraste */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: transform 0.6s ease, box-shadow 0.6s ease, border 0.6s ease;
  }
  
  .jogo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
  }
  
  .jogo-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 15px 2px  #0056d1; /* Adiciona brilho azul */
    border: 2px solid  #0056d1; /* Borda azul brilhante */
  }
  
  .jogo-item:hover img {
    transform: scale(1.1);
  }
  
  .jogo-info {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.7s ease, background-color 0.3s ease;
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .jogo-info p {
    margin-bottom: 8px;
  }
  
  .jogo-item:hover .jogo-info {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 2px  #0056d1; 
  }
  
  .jogo-avaliacao {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .jogo-avaliacao i {
    margin-right: 5px;
  }
  
  .jogo-item:hover .jogo-avaliacao i,
  .jogo-item:hover .jogo-avaliacao p {
    color: yellow;
  }
  
  .titulo-jogos {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-family: 'Games', sans-serif;
    margin-top: 90px;
    margin-left: 14%;
    color:  #0056d1 /* azul ps4  */
  }
  
  /* Estilo padrão do ícone do coração */
  .jogo-item .fa-heart {
    position: absolute;
    font-size: 34px;
    top: 10px;
    right: 10px;
    color: rgba(255, 255, 255, 0.818);
    cursor: pointer;
    transition: color 0.6s ease, transform 0.6s ease; /* Alteração para 0.6 segundos */
    z-index: 1; /* Garante que o ícone do coração esteja acima da imagem do jogo */
  }
  
  /* Efeito de mudança de cor ao passar o mouse */
  .jogo-item .fa-heart:hover {
    color: #ff0000; /* Nova cor quando o mouse está sobre o ícone */
    animation: heartbeat 1s infinite; /* Adiciona animação de batimento cardíaco */
  }
  
  /* Animação de batimento cardíaco */
  @keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  /* Efeito de brilho ao passar o mouse */
  .jogo-item:hover {
    box-shadow: 0 0 10px 2px  #0056d1; 
    transition: box-shadow 0.6s ease;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px  #0056d1, 0 0 10px  #0056d1, 0 0 20px  #0056d1, 0 0 40px  #0056d1;
    }
    100% {
      box-shadow: 0 0 10px #0056d1, 0 0 20px #0056d1, 0 0 30px  #0056d1, 0 0 40px #0056d1;
    }
  }


  .preco-antigo {
    color: red;
    font-size: 16px;
    text-decoration: line-through;
    /* Adiciona uma linha sobre o texto */
  }
  
  .preco-novo {
    margin-top: 5px;
    /* Ajusta o espaçamento vertical */
  }

  .desconto-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 255, 0, 0.91);
    /* Verde com 70% de opacidade */
    color: white;
    padding: 5px 10px;
    border-top-right-radius: 8px;
    font-size: 23px;
  }

  .mensagem-jogo-ano {
    background-color: rgba(0, 0, 0, 0.701);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    position: absolute;
    top: 145px;
    right: 0px;
    font-size: 11px;
    font-weight: 900;
  }

  
  /*******************************************************************************/
  #jogosFavoritos {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    /* Inicialmente, a seção estará oculta */
    color: white;
    /* Cor do texto */
  }
  
  
  #mensagemFavorito {
    position: fixed;
    top: 42px;
    /* Posicionamento no canto superior */
    margin-left: 22%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    display: none;
    z-index: 9999;
    /* Ajuste o valor do z-index conforme necessário */
    pointer-events: none;
    /* Impede a interação do usuário com a mensagem */
  }
  
  #mensagemFavorito.mostrar {
    display: block;
    pointer-events: auto;
    /* Permite a interação do usuário com a mensagem quando visível */
  }
  
  
  /* Estilo para a lista de jogos favoritos */
  #jogosFavoritosContainer {
    position: absolute;
    top: calc(100% + 5px);
    /* Posição abaixo do coração */
    left: 75%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    /* Cor do texto */
    display: none;
    /* Inicialmente, a lista estará oculta */
    max-height: 200px;
    /* Altura máxima da lista, com barra de rolagem se necessário */
    overflow-y: auto;
    /* Adiciona barra de rolagem vertical quando necessário */
    z-index: 999;
    /* Garante que a lista esteja acima de outros elementos */
    width: 30%;
  }
  
  /* Estilo para cada jogo favorito na lista */
  .jogo-favorito {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .jogo-favorito:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Cor de fundo ao passar o mouse */
  }
  
  .jogo-favorito {
    display: flex;
    justify-content: space-between;
  }

  .genre {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.441); /* ou qualquer cor que você queira para os links */
    cursor: pointer; 
    border-radius: 10px;
    padding: 2px 15px; 
    margin-left: -15px;
    font-size: 20px;
}

.hidden {
  display: none;
}

.data-lancamento {
  position: absolute;
  top: 180px;
  left: 0px; 
  background-color: #ffcc00;
  color: #fff;
  padding: 6px 36px; 
  border-radius: 5px; 
  display: inline-flex;
  align-items: center; 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.jogo-item:hover .data-lancamento {
  opacity: 1;
}

.data-lancamento span {
  margin-left: 5px; /* Espaçamento entre o ícone e o texto */
}

#carouselImages {
  position: relative;
  width: 100%;
  height: auto;
}

#carouselImages img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: none;
}

#carouselImages img:first-child {
  display: block;
}

.data-do-jogo {
  color: #ffd700; /* Amarelo semelhante ao logo de Star Wars */
  font-family: 'Roboto', sans-serif; /* Fonte moderna */
  font-size: 18px; /* Tamanho da fonte */
  margin-top: 5px; /* Espaçamento superior */
  display: block; /* Exibir como bloco para adicionar margem superior e inferior */
}

.data-do-jogo::before {
  content: "\f133"; /* Unicode do ícone de relógio (Font Awesome) */
  font-family: 'Font Awesome 5 Free'; /* Font Awesome */
  margin-right: 5px; /* Espaçamento à direita do ícone */
}

.controles-navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.controles-navegacao button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}



.controles-navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.pagination li {
  margin: 0 5px;
  cursor: pointer;
}
.pagination li.disabled {
  cursor: not-allowed;
  color: grey;
}
.pagination li.active {
  font-weight: bold;
}
.game-item {
  margin-bottom: 10px;
  position: relative;
}
.countdown {
  color: red;
  font-weight: bold;
  position: absolute; 
  top: 146px; 
  left: 0; 
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  padding: 5px;
  border-radius: 5px;
  display: none; /* Oculta o cronômetro por padrão */
}
.game-item:hover .countdown,
.game-item:focus-within .countdown { /* Exibe o cronômetro quando o mouse está sobre o jogo-item ou quando ele está focado */
  display: block;
}

.jogo-info .promocao-data {
  font-size: 12px;
  color: #ffcc00; 
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.jogo-info .promocao-data i {
  font-size: 16px; 
  margin-right: 5px;
}

.mais-vendido {
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 0; 
  position: absolute; 
  bottom: 1px; 
  right: 0px; 
  font-size: 12px; 
  font-weight: bold;
  display: flex; 
  align-items: center;
  border: 1px solid #8BC34A; 
  box-shadow: 0 0 10px #8BC34A, 0 0 5px #8BC34A, 0 0 10px #8BC34A; 
}

.mais-vendido i {
  margin-right: 5px; 
  font-size: 14px;
  color: gold; 
}

.mais-vendido p {
  margin: 0; 
}

#elo_id {
  width: 6%;
  margin-left: 6px;
  margin-top: 10px;
}

#american_id {
  width: 4%;
  margin-left: 6px;
}



/* footer */
footer {
  background: linear-gradient(135deg, #1a1a1a, #222);
  padding: 60px 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #333;
  margin-top: 200px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}

.footer-column h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #e2e2e2;
  text-transform: uppercase;
  border-bottom: 3px solid #e2e2e2;
  padding-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 15px;
}

.footer-column ul li a {
  color: #bbb;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);
  text-align: center;
}

.footer-logo img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  margin-top: -40px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #fff;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: rgba(255, 0, 200, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icons a:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #1da1f2;
}

.social-icons a.instagram:hover {
  background-color: #e1306c;
}

.social-icons a.youtube:hover {
  background-color: #ff0000;
}

.social-icons a.fa-playstation:hover {
  background-color: #003087;
}

.social-icons a.fa-xbox:hover {
  background-color: #107c10;
}



@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-column, .footer-logo {
      flex: none;
      width: 100%;
      text-align: center;
  }

  .footer-logo {
      margin-top: 20px;
  }
}






  